<section class="section">
  <div class="container">
    <h1 class="title">Grades Dashboard</h1>
  </div>
  <div class="container">
    <% @students.each do |student| %>
      <hr />
      <h2 class="subtitle"><strong><%= student.name %></strong></h2>
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Course</th>
            <th>Average</th>
            <th>Grade</th>
            <th>Grade Health</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
          <% student.courses.order('last_update DESC').each do |course| %>
            <tr>
              <td><%= link_to course.name, course_path(course) %></td>
              <% if course.average > 0.0 %>
                <td><%= course.average %></td>
                <td><%= course.grade %></td>
                <td><progress class="progress <%= course.health_bar_color_class %> is-large" value="<%= course.average %>" max="100"><%= course.average %></progress></td>
                <td><%= course.last_update_formatted %></td>
              <% else %>
                <td colspan="4">Course has no average.</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>
